nav {
  font-family: codeBold;
  color: white;
  text-align: right;
  padding-right: $paddingSmall;
  height: 100%;
  a {
    color: white;
    display: list-item;
    list-style-type: none;
    padding-top: $paddingXSmall;
    padding-right: $paddingXSmall;
    font-size: 20px;
    margin-left: $marginMedium;
    &:hover {
      //@extend .scalling_element;
    }
    &.active {
      color: #1abc9c;
      border-right: 5px solid #1abc9c;
      padding-right: 5px;
    }
  }
}
